version: "3.8"

services:
  backend:
    build: ./task-manager
    container_name: java_app
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/task_manager
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
    depends_on:
      - postgres
    networks:
      - task_net

  frontend:
    build: ./task_manager_f
    container_name: frontend_app
    ports:
      - "3000:80"   
    depends_on:
      - backend
    networks:
      - task_net

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_manager
    ports:
      - "5432:5432"
    networks:
      - task_net

networks:
  task_net:
    driver: bridge
